 <body class="bodies">
        <div class="box">
            <p class="text1">Copy Mail</p>
        </div>
        <div class="box1">
            <br>
            <h4>Mensaje:</h4>
            <p>{{ mensaje }}</p>
            <br>
            <h4>De:</h4>
            <p>{{ nombre }} {{ apellido }}</p>
            <br>
            <h4>Email:</h4>
            <p>{{ email }}</p>
                <br>
            <h4>Teléfono:</h4>
            <p>{{ celular }}</p>
            <br>
        </div>
    </body>